$hover-color: #3c8ed2;
$white: white;

body {
  font-family: 'Roboto';
}

.container {
  margin: 15px auto;
  max-width: 800px;
  padding: 0 10px;
}

a {
  &:active {
    color: black;
  }
}

.primary-hover {
    &:hover {
      background-color: $hover-color !important;
    }
}

.secondary-hover {
    &:hover {
      background-color: $hover-color !important;
      color: $white !important;
    }
}

